<settings xmlns="http://maven.apache.org/POM/4.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>maven-repo.oucs</id>
            <username>oucs0164</username>
            <password>{EScEq+M3dSkHEc4ZorjjoE9q1TDVVV5olznPBcAZCaE=}</password>
        </server>
        <server>
            <id>github</id>
            <password>{V/i17P5mifsHOcXqX9KLSCPxqICvx+H2H0FYyIMCIkLOIe+AA0A1RpZxUQLBIWBKdKZe6Ex6OD+ShFrY43sRTg==}</password>
        </server>
        <server>
            <id>sonatype-nexus-snapshots</id>
            <username>JAZGbCvS</username>
            <password>{GPSq5Ej1USMHj1OVCTwUDLP7gvbeAqfCmy8+i+Yp1ddO0k64+hCu3ted4VXGNrPvRYmHA9teqgyQmHuGxA7XWg==}</password>
        </server>
        <server>
            <id>sonatype-nexus-staging</id>
            <username>JAZGbCvS</username>
            <password>{GPSq5Ej1USMHj1OVCTwUDLP7gvbeAqfCmy8+i+Yp1ddO0k64+hCu3ted4VXGNrPvRYmHA9teqgyQmHuGxA7XWg==}</password>
        </server>
    </servers>
</settings>
